<% layout('indexLayout') %>
<main class="wrapper">
  <h2 class="site__title">About this Blog</h2>
  <p>
    這個網站會紀錄我的程式筆記、所學、生活記事，以及旅遊大小事。
  </p>
  <div class="about__desc">
    <h3>Contact me！</h3>
    <span>Email：
      <a href="mailto:yichennnnliu@gmail.com">yichennnnliu@gmail.com</a>
    </span>
  </div>
</main>